/pluto_build/data/ftp
/pluto_build/output/mappluto/
*.env
*.gz
*.zip
*/.ipynb_checkpoints/*
.ipynb_checkpoints
*/__pycache__/*
__pycache__/
*.DS_Store
pluto_build/output/*.csv
*.log
__pycache__/
!example.env
!version.env
pluto_build/pts/
pluto_build/.library/
pluto_build/.venv/
pluto_build/.postgres/
pluto_build/.target/
pluto_build/dbt_packages/
pluto_build/logs/